{%- assign rows = site.data.organizers -%}
{%- for row in rows -%}
    <div class="row_perso organizers_row">
        {% for organizer in row.organizers %}
            <div class="card_perso column_perso">
              <a href="{{ organizer.url }}" target="_blank" rel="noopener">
                 <img src="images/{{ organizer.photo }}" alt="{{ organizer.name }}" class="img_card_perso">
              </a>
              <div class="container_perso" >
                <center>
                <h6>
                    {% if organizer.title %}
                        <b>{{ organizer.title }}<br>{{ organizer.name }}</b>
                    {% else %}
                        <b>{{ organizer.name }}</b>
                    {% endif %}
                    <br>
                    {{ organizer.affiliation }}
                </h6>
                </center>
              </div>
            </div>
        {% endfor %}
    </div>
{%- endfor -%}
