{%- assign rows = site.data.speakers -%}
{%- for row in rows -%}
    <div class="row_perso organizers_row">
        {% for speaker in row.speakers %}
            <div class="card_perso column_perso">
              {% if speaker.url %}
              <a href="{{ speaker.url }}" target="_blank" rel="noopener">
                 <img src="images/{{ speaker.photo }}" alt="{{ speaker.name }}" class="img_card_perso">
              </a>
              {% else %}
                 <img src="images/{{ speaker.photo }}" alt="{{ speaker.name }}" class="img_card_perso">
              {% endif %}
              <div class="container_perso">
                <center>
                <h6>
                    {% if speaker.title %}
                        <b>{{ speaker.title }}<br>{{ speaker.name }}</b>
                    {% else %}
                        <b>{{ speaker.name }}</b>
                    {% endif %}
                    <br>
                    {{ speaker.affiliation }}
                </h6>
                </center>
              </div>
            </div>
        {% endfor %}
    </div>
{%- endfor -%}
